#fot{
  width: 15%;
  padding-right: 120px;
  padding: 20px;
  border-radius: 100%;
  
} 
.name{
  font-size: 30px;
  text-align: center;
  padding: 8px;
 
  color: crimson;
}

.n1{
  font-size: 40px;
  color: crimson;
} 

.n2{
  font-size: 28px;
 margin: 2px;
}
.container{
  text-align: center;
  padding-left: 280px;
  
}