/* 
.col{
  font-size: 25px;
   margin: 30px;
}
 */
/* .estu2{
  font-size: 30px;
  color: crimson;
  margin: 30px;
  width: 50%;
}  */

/* .col1{
  font-size: 25px;
   margin: 30px;
  }  */
  .fila2{ 
    /* text-align: right; */
    width: 50%;

  }

  .todo{
    width: 70%;
    margin: 0 20%;
    margin-top: 250px;
    
  }
 
  .columna1{
    width: 45%;
    float: left;
    margin: 10px;
    background-color: aqua;
    border-radius: 20px;
  }

  .estu1{
    font-size: 32px;
    color: crimson;
    text-align: center;
  } 

  .fabi{
    font-size: 20px;

  }
  .bachi{
    text-align: center;
  }